{% extends "rao/agency/base.html" %}
{% load static %}

{% block page-content %}
    {% if not params.init_setup %}
        <div class="section section-muted bg-white">
            <div class="section-content mx-auto col-sm-10">
                <div class="card-deck">
                    <div class="card shadow border-0 bg-primary">
                        <div class="row d-flex justify-content-center">
                            <div class="pl-5 pr-5 pt-5">
                                <h4 class="text-white">{% if params.first_pass %} Imposta la tua password {% else %}
                                    Cambio Password {% endif %}</h4>
                                <p class="text-white">Inserisci la tua nuova password nella form sottostante</p>
                            </div>
                        </div>

                        <div>
                            <form action="{% url 'agency:change_password' token %}" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="card-body ">
                                    <div class="form-row">
                                        <div class="pt-2 col-sm-6 mx-auto">
                                            <div class="form-group col-12">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text ">
                                                            <svg class="icon icon-sm icon-primary">
                                                                <use xlink:href="{% static 'rao/agency/svg/sprite.svg' %}#it-locked"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <input type="password" autocomplete="new-password"
                                                           class="form-control col-12 input-password" id="passwordField"
                                                           oncopy="return false" onpaste="return false"
                                                           name="passwordField" aria-describedby="passwordHelp"
                                                           placeholder="Nuova Password">
                                                    <div class="input-group-append password-icon"
                                                         title="Mostra/Nascondi password">
                                                        <svg class="password-icon-visible icon icon-sm">
                                                            <use xlink:href="{% static 'rao/agency/svg/sprite.svg' %}#it-password-visible"></use>
                                                        </svg>
                                                        <svg class="password-icon-invisible icon icon-sm d-none">
                                                            <use xlink:href="{% static 'rao/agency/svg/sprite.svg' %}#it-password-invisible"></use>
                                                        </svg>
                                                    </div>
                                                </div>

                                                <small id="passwordHelp"
                                                       class="form-text text-danger">{{ form.passwordField.errors }}</small>
                                            </div>
                                        </div>

                                        <div class="pt-2 col-sm-6 mx-auto">
                                            <div class="form-group col-12">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text ">
                                                            <svg class="icon icon-sm icon-primary">
                                                                <use xlink:href="{% static 'rao/agency/svg/sprite.svg' %}#it-locked"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <input type="password" autocomplete="new-password"
                                                           class="form-control col-12 input-password"
                                                           oncopy="return false" onpaste="return false"
                                                           id="confirmPasswordField" name="confirmPasswordField"
                                                           aria-describedby="confirmPasswordHelp"
                                                           placeholder="Conferma Password">
                                                    <div class="input-group-append password-icon"
                                                         title="Mostra/Nascondi password">
                                                        <svg class="password-icon-visible icon icon-sm">
                                                            <use xlink:href="{% static 'rao/agency/svg/sprite.svg' %}#it-password-visible"></use>
                                                        </svg>
                                                        <svg class="password-icon-invisible icon icon-sm d-none">
                                                            <use xlink:href="{% static 'rao/agency/svg/sprite.svg' %}#it-password-invisible"></use>
                                                        </svg>
                                                    </div>
                                                </div>

                                                <small id="confirmPasswordHelp"
                                                       class="form-text text-danger">{{ form.confirmPasswordField.errors }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row d-flex justify-content-center pt-{% if form.confirmPasswordField.errors %}4{% else %}2{% endif %} ">
                                    <button type="submit" class="btn btn-white text-primary col-sm-4 col-10"
                                            title="Cambia Password">{% if params.first_pass %} Imposta
                                        password {% else %} Cambia Password {% endif %}
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-12 pt-2 pr-2">
                <div class="d-flex justify-content-center">
                    <form class="upload-dragdrop loading mt-5 mb-5" method="post" action=""
                          enctype="multipart/form-data">
                        <div class="upload-dragdrop-image">
                            <div class="upload-dragdrop-loading">
                                <div id="divProgress" class="upload-progress "></div>
                            </div>
                            <div class="upload-dragdrop-success">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="{% static 'rao/agency/svg/sprite.svg' %}#it-check"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="upload-dragdrop-text">
                            <h5 id="title_operation">Inserimento dati</h5>
                            <p>Download in corso...</p>
                        </div>
                        <a href="{% url 'agency:login' %}" id="loginRedirect" class="d-none"></a>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block bl_javascripts %}
    {% if params.init_setup %}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                $("#divProgress").circularloader({
                    backgroundColor: "#ffffff",
                    fontColor: "#000000",
                    fontSize: "40px",
                    radius: 120,
                    progressBarBackground: "transparent",
                    progressBarColor: "#0073e6",
                    progressBarWidth: 100,
                    progressPercent: 0,
                });

                var url_check_import = "{% url 'agency:check_import' %}";
                var url_start_import = "{% url 'agency:start_import' %}";
                var int = clearInterval();

                function doCheck() {
                    $.ajax({
                        url: url_check_import,
                        success: function (data) {
                            if (data["statusCode"] === 200) {
                                if (data["status"] === "in_progress") {
                                    $("#divProgress").circularloader({
                                        progressPercent: data["percentage"]
                                    });
                                }
                                if (data["status"] === "completed") {
                                    clearInterval(int);
                                    window.location = window.location.href;
                                }
                                if (data["status"] === "failed") {
                                    clearInterval(int);
                                    showError();
                                }


                            } else {
                                clearInterval(int);
                            }
                        }
                    });
                }

                $.ajax({
                    url: url_start_import,
                    success: function (data) {
                        if (data["statusCode"] === 200) {
                            int = setInterval(doCheck, 2000);
                        }

                    }
                });

                function showError() {
                    $("#title_operation").html("<svg class=\"icon icon-danger\" aria-hidden=\"true\">\n" +
                        "                            <use xlink:href=\"{% static 'rao/agency/svg/sprite.svg' %}#it-error\"></use>\n" +
                        "                        </svg> Si &eacute; verificato un errore")
                }
            });

        </script>
    {% endif %}

{% endblock %}
