{% extends "rao/agency/base.html" %}
{% load staticfiles %}

{% block page-content %}

<div class="section section-muted bg-white">

    <div class="section-content mx-auto col-sm-10">
        {% if installation == True %}
        <div class="alert alert-success w-75" role="alert">
            Installazione eseguita con successo!
        </div>
        {% endif %}
        {% if success %}
        <div class="card-deck ">
            <div class="card mx-auto col-10">
            <a href="{% url 'agency:login' %}" class="btn btn-primary text-white mx-auto mt-5 ">Torna alla pagina iniziale</a>
        </div>
        </div>
        {% else %}

        <div class="card-deck">
            <div class="card shadow border-0 bg-primary">

                <div class="row d-flex justify-content-center">
                    <div class="pl-5 pr-5 pt-5">
                        <h4 class="text-white">Recupero password</h4>
                        <p class="text-white">Inserisci la tua username per procedere al recupero della tua password.</p>
                    </div>
                </div>

                <div>
                    <form  action="{% url 'agency:recovery_password' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body ">
                            <div class="form-row col-sm-6 mx-auto">
                                <div class="col-12 " >
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <svg class="icon icon-sm icon-primary"><use xlink:href="{% static 'rao/agency/svg/sprite.svg' %}#it-user"></use></svg></div>
                                        </div>
                                        <input type="text" class="form-control col-12" id="usernameField" name="usernameField" aria-describedby="usernameHelp" placeholder="Username" autocomplete="0" >
                                    </div>

                                    <small id="usernameHelp" class="form-text text-danger">{{ form.usernameField.errors }}</small>
                                </div>
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center pt-2 ">
                            <button type="submit" class="btn btn-white text-primary col-sm-4 col-10" title="Recupera Password" >Recupera</button>

                        </div>

                    </form>
                </div>

            </div>

        </div>

        {% endif %}
    </div>

</div>

{% endblock %}

{% block 'body-js' %}
{% endblock %}
