<!DOCTYPE html>
{% load static %}

<html lang="it">
<head>
    <style type="text/css">
        div.blueitalia {
            background-color: #06c;
            height: 100px;
            line-height: 100px
        }

        div.bluefooter {
            background-color: #036;
            height: 100px;
            line-height: 100px
        }

        h1.blueitalia{
            font-size: 2em;
            color: #06c;
            text-align:center;
        }

        h3.pad{
            color: #06c;
        }
        body{
            font-size: 13px;
        }


    </style>
    <title>{{ pdf_object }}</title>
</head>
<body>

<div>
    <h1 class="blueitalia">{{ RAO_name }}</h1>
</div>
<div>
    <p style="font-weight: bold;">Oggetto: {{ pdf_object }} </p>
    <br>
    <p> Gentile {{ name_user }} {{ surname_user }},</p>
    <p> il riconoscimento &egrave; stato completato e inviato all'indirizzo di posta elettronica che ci hai fornito,
        segui le istruzioni contenute nel messaggio per ottenere l'identit&agrave; digitale SPID. </p>
    <p>Conserva questa ricevuta, perch&eacute; contiene la prima parte del codice di attivazione che protegge i tuoi dati;
        ne avrai bisogno durante le operazioni di creazione della tua identit&agrave; digitale, che dovranno
        essere completate entro {{ token_expiration_date }}. </p>
    La <u>prima parte del codice di attivazione </u> &egrave; <span style="font-weight: bold; color: #06c">{{ passphrase }}</span>

    <p>Ricorda di far riferimento a <span style="color: #06c"> https://www.spid.gov.it/cos-e-spid/ </span>
        per qualsiasi necessit&agrave;.</p>
    <p>L'operatore che ha effettuato il riconoscimento &egrave; {{ operator.name }} {{ operator.surname }}.</p>
    <br>
    <p>Cordiali saluti.</p>
</div>
</body>
</html>