<!DOCTYPE html>
<html lang="it">
<head>
    <style type="text/css">
        div.blueitalia {
            background-color: #06c;
            height: 100px;
            line-height: 100px
        }

        div.bluefooter {
            background-color: #036;
            height: 100px;
            line-height: 100px
        }

        h1.blueitalia{
            color: #06c;
            text-align:center;
        }
        body{
            font-size: 13px
        }
    </style>
    <title>Pin temporaneo operatore</title>
</head>
<body>

<div>
    <h1 class="blueitalia">{{ RAO_name }}</h1>
</div>
<div>
    <p>Di seguito il pin temporaneo di 6 caratteri da consegnare all'operatore:</p><h3 style="color: #06c;" >{{ pin }}</h3>
</div>
</body>
</html>