<!DOCTYPE html>
<html lang="it">
<head>
    <style type="text/css">
        div.blueitalia {
            background-color: #06c;
            height: 100px;
            line-height: 100px
        }

        div.bluefooter {
            background-color: #036;
            height: 100px;
            line-height: 100px
        }

        h1.blueitalia{
            color: #06c;
        }

        h3.pad{
            color: #06c;
        }
    </style>
    <title>Stampa password</title>
</head>
<body>

<div>
    <h1 class="blueitalia" style="text-align:center;">{{ RAO_name }}</h1>
</div>
<div>
    <p>Di seguito i primi 6 caratteri del tuo Codice di Attivazione:</p><h3 class="pad" >{{ passphrase }}</h3>
    <p>Conservali con cura, ti verranno richiesti in fase di rilascio dell'identit&aacute; digitale.
    </p>
    <p>Documento generato in data {{ timestamp }} (UTC) dall'operatore {{ name_operator }} {{ surname_operator }}.
    </p>
</div>
</body>
</html>