{% extends "rao/mail/baseMail.html" %}


{% block message_title_first %}
    Gentile {{ mail_elements.nameUser }} {{ mail_elements.familyNameUser }},
    <br>&eacute; stato richiesto il recupero password, clicca il link seguente per cambiare la password del tuo account:
{% endblock %}


{% block message %}
       <a href="{{ activation_link }}" style="color: #0066cc; text-decoration: none;">CLICCA QUI</a>
{% endblock %}

{% block message_title_second %}
    Se non hai richiesto tu il recupero password ti invitiamo a contattare l'amministratore del sistema.
    Ti ricordiamo che &eacute; possibile utilizzare il link solamente una volta.<br>
{% endblock %}
